<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Registrate en Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="./css/styles.css" >
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
            <div class="div-header"><a href="/"><img class="logo-mercado-liebre" src="./img/logo-mercado-liebre.svg" width="360" alt="Logo"></a>
            <div class="barra-de-busqueda"><input type="text" placeholder="Buscar productos, marcas y más..." required><button><i class="fas fa-search"></button></i></div></div>
        <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p></div>
        <nav class="lista">
            <ul type="none" class="site">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none" class="login-navbar">
                <li><a href="/form-registro">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <figure>
        <i class="fas fa-bars"></i>
    </figure>
            </a>
    </header>
    
    <h2 class="registro-titulo">Registrarse:</h2>
    <form action="/" method="GET" class="form-registro">
        <div class="registro-de-usuario"><input type="text" name="nombre" id="nombre" required="" minlength="3" placeholder="Nombre y apellido"></div>

        <div class="registro-de-usuario"> <input type="text" name="usuario" id="usuario2" required="" maxlength="
            15" minlength="5" placeholder="Nombre de usuario"></div>
        <div class="registro-de-usuario"><input type="email" name="email" id="email" required="" maxlength="
        15" minlength="5" placeholder="E-mail"></div>



        <h3>Fecha de nacimiento:</h3>
        <div class="registro-de-nacimiento"><input type="date" name="fecha" id="fecha" required="" placeholder=""></div>
        <div class="registro-de-domicilio"><input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required></div>

        
       
        <label for="persona"><h3>Perfil de usuario:</h3></label>
        <div class="registro-de-persona"><input type="radio" name="opcion1" value="comprar" id="comprar" required>
        <label for="comprar" id="registro-comprar">Comprador</label>

        <input type="radio" name="opcion1" value="vender" id="vender" required>
        <label for="vender" id="registro-vender">Vendedor</label></div>

        <label for="categoria"><h3>Intereses:</h3></label>
        <div class="categorias">
        <input type="checkbox"><label for="electro" id="cat">Electro</label></div>
        
        <div class="categorias"><input type="checkbox"><label for="moda" id="cat">Moda</label></div>
        
       <div class="categorias"> <input type="checkbox"><label for="hogar" id="cat">Hogar</label></div>
        
        <div class="categorias"><input type="checkbox"><label for="jugueteria" id="cat">Jugueteria</label></div>
        
       <div class="categorias"><input type="checkbox"><label for="vida" id="cat">Vida sana</label></div>
        


        <div class="registro-titulo2"><label for="foto"><h3>Foto de usuario:</h3></label>
        <label class="input-file"><input type="file" accept=".jpg, .png" required ></label></div>

        <h3>Contraseña:</h3>
       <div class="registro-de-contraseña"> <input type="password" id="registro-password" required="" maxlength="
        12" minlength="5" placeholder="Contraseña"></div>

        <div class="registro-de-contraseña">
        <input type="password" id="registro-password" required="" maxlength="
        12" minlength="5" placeholder="Confirmar contraseña"></div>

        <div class="registro-boton-enviar"><button type="submit">Enviar</button>
        <button type="reset">Borrar</button></div>
    </form>
    <footer>
        <!--pata de pagina suena mas cool que pie de pagina, en fin vivan las patas de pagina-->
        <section class="pata-de-pagina"> <div class="div-pata-de-pagina"><div class="logo"><i class="fas fa-credit-card"></i></div>
            <h4 class="subtitulo">Paga con tarjeta o en efectivo</h4>
            <p class="descripciones">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></div>
       <div class="div-pata-de-pagina"> <div class="logo"><i class="fas fa-gift"></i></div>
        <h4 class="subtitulo">Envio gratis desde los $ 2.500</h4>
    <p class="descripciones">Solo por estar registrad@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</p></div>
    <div class="div-pata-de-pagina"><div class="logo"><i class="fas fa-user-shield"></i></div>
    <h4 class="subtitulo">Seguridad de principio a fin</h4>
<p class="descripciones">
    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.
</p></div></section>
<div class="copyright"><p >
     Copyright © 1999-2020 MercadoLiebre S.R.L.
</p></div>
    </footer>
</body>
</html>