<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidx a Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="./css/styles.css" >
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="div-header"><a href="/"><img class="logo-mercado-liebre" src="./img/logo-mercado-liebre.svg" width="360" alt="Logo"></a>
                <div class="barra-de-busqueda"><input type="text" placeholder="Buscar productos, marcas y más..." required><button><i class="fas fa-search"></button></i></div></div>
            <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p></div>
            <nav class="lista">
                <ul type="none" class="site">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul type="none" class="login-navbar">
                    <li><a href="/form-registro">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <a href="#" class="burger-menu">
                <figure>
            <i class="fas fa-bars"></i>
        </figure>
                </a>
        </header>
        <section class="banner">
            <img src="./img/img-home-banner.jpg" width=100% alt="Banner">
        </section>
        <main>
            <section>
                <h3 class="titulares">Basado en tu última visita</h3>
                <div class="todos-productos-1"><article class="productos"><img src="./img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                <div class="main-article"><div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$6.770</p>
                <p class="descuentos">40% off</p></div>
                <h4 class="nombre">Cafetera Moulinex</h4></article>
                <article class="productos">
                <img src="./img/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                <div class="main-article"> <div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$230.000</p>
                <p class="descuentos">20% off</p></div><h4 class="nombre">MacBook Pro 2019</h4>
            </i></article>
                <article class="productos"><img src="./img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">  <div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$70.500</p>
                <p class="descuentos">10% off</p></div> 
                <h4 class="nombre">Teléfono móvil Samsung Galaxy S10</h4></article>
                <article class="productos"><img src="./img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article"><div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$23.200</p>
                <p class="descuentos">5% off</p></div>
                <h4 class="nombre">SmartTv Samsung 43"</h4></article></div> 
            </section>
            <section>
               <h3 class="titulares">Ofertas</h3>      
                 <div class="todos-productos-2"><article class="productos"><img src="./img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <div class="main-article"><div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$6.770</p>
                <p class="descuentos">40% off</p></div>
                <h4 class="nombre">Cafetera Moulinex</h4></article>
                <article class="productos"><img src="./img/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <div class="main-article">   <div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$230.000</p>
                <p class="descuentos">20% off</p></div> 
                <h4 class="nombre">MacBook Pro 2019</h4></article>
                <article class="productos"><img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">  <div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$70.500</p>
                <p class="descuentos">10% off</p></div> 
                <h4 class="nombre">Teléfono móvil Samsung Galaxy S10</h4></article> 
                <article class="productos"><img src="./img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">   <div class="camion"><i class="fas fa-truck"></i></div>
                <p class="precio">$23.200</p>
                <p class="descuentos">5% off</p></div> 
                <h4 class="nombre">SmartTv Samsung 43"</h4></articule></div>
            </section>
        </main>
        <footer>
            <section class="pata-de-pagina"> 
                <div class="div-pata-de-pagina">
                    <div class="logo"><i class="fas fa-credit-card"></i></div>
                <h4 class="subtitulo">Paga con tarjeta o en efectivo</h4>
                <p class="descripciones">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></div>
           <div class="div-pata-de-pagina"> <div class="logo"><i class="fas fa-gift"></i></div>
            <h4 class="subtitulo">Envio gratis desde los $ 2.500</h4>
        <p class="descripciones">Solo por estar registrad@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</p></div>
        <div class="div-pata-de-pagina"><div class="logo"><i class="fas fa-user-shield"></i></div>
        <h4 class="subtitulo">Seguridad de principio a fin</h4>
    <p class="descripciones">
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.
    </p></div></section>
    <div class="copyright"><p >
         Copyright © 1999-2020 MercadoLiebre S.R.L.
    </p></div>
        </footer>
    </body>
</html>